
body{
    background-color: #3d3d3d;
}
.landing-page {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    max-height: 38vh;
    background-attachment: fixed;
}
.video-background{
        width: 100%;
        z-index: -100;
}

.title-main-display {
    width: 100%;;
    position: absolute;
    top: 14%;
    color: white;
    z-index: 5;
    font-size: 3vh;
    text-align: center;
    font-weight: 100;
    /*font-family: cursive;
    font-style: oblique;*/
    /*padding-top: 10%;*/
}

.title-main-display img {
    width: 5vw;
    height: auto;
    color: white;
}

specials-header {
    display: flex;
    justify-content: center;
    font-size: 1.25em;
    color: white;
    margin: 8px;
}

.weekly-specials {
    
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 0vh;
}

.weekly-specials img{
    /*background-image: url('https://cdn.kiwilimon.com/recetaimagen/28854/thumb400x300-29980.jpg');*/
    /*background-repeat: no-repeat;
    background-size: cover;*/
    width: 33vw;
    height: 19vh;
    border-radius: 50%;
    /*border: solid white 1px;*/
}
.weekly-specials special1, special2, special3 {
        display: flex;
    /*flex-direction: column;*/
    justify-content: space-around;
}
/*special1 h4, special1 span, special3 h4, special3 span{

    margin-left: 175%;
}*/

.weekly-specials h4 {
    text-align: center;
}

.weekly-specials span {
    font-size: 5vh;
    text-align: center;
}
.about{
    background-image: url(./images/chef.jpg);
    background-size: cover;
    width: 100
}
/*
.test {
    width: 100vw;
    height: 100vh;
    background-color: white;
}*/
